{% extends 'base.html'%} {% load static %} {% block content %}
<!-- begining of my own about us page -->
<section
  class="container-fluid mt-5 pt-5 pb-5 section-padding"
  id="about"
  style="background-image: url('/static/main/images/welcome.webp')"
>
  <div class="row">
    <h1 style="padding-left: 5%">Über mich</h1>
    <hr />
    <div class="col-md-6" style="padding: 0px 5%">
      <p>
        Mein Name ist Godwin Ifeanyi Uche, ich bin ein Cybersecurity-Student und
        angehender SOC-Analyst, der derzeit in Bern, Schweiz, lebt und plant, in
        naher Zukunft nach Zürich umzuziehen, um seine Karrieremöglichkeiten im
        Bereich Cybersecurity weiter auszubauen. Ich absolviere derzeit meinen
        Bachelor in Cybersecurity an der Open University UK und besitze
        Zertifizierungen wie CompTIA Security+, Cisco CCNA und AWS Certified
        Cloud Practitioner.
      </p>
      <p>
        Ich bringe eine multikulturelle Perspektive sowie einen Hintergrund im
        Bankwesen und in der Finanzwelt mit. Diese Erfahrung hilft mir,
        Sicherheitsrisiken in sensiblen Bereichen besser zu verstehen –
        insbesondere in Finanzsystemen, beim Datenschutz und bei der Einhaltung
        gesetzlicher Vorschriften.
      </p>
      <p>
        Mein aktueller Fokus liegt auf Kompetenzen im Bereich SOC-Analyse, also
        dem Schutz digitaler Ressourcen, der Erkennung von Bedrohungen und dem
        Management von Sicherheitsvorfällen. Zusätzlich arbeite ich an
        praxisnahen Projekten in den Bereichen Netzwerksicherheit,
        Cloud-Sicherheit und Threat Intelligence, die ich auf GitHub teile.
        Zögern Sie nicht, mich zu kontaktieren, wenn Sie sich vernetzen,
        zusammenarbeiten oder mehr über meine Arbeit und Interessen im Bereich
        Cybersecurity erfahren möchten. Ich bin stets offen für neue
        Möglichkeiten und Gespräche.
      </p>
    </div>
    <div class="col-md-6" style="text-align: center">
      <img
        src="{% static 'main/images/godwin2.jpeg' %}"
        alt="Godwin's Photo"
        class="about-img"
        width="100%"
      />
    </div>
  </div>
</section>
{% endblock %}
