{% extends 'base.html'%} {% load static %} {% block content %}
<!-- begining of my own about us page -->
<section
  class="container-fluid mt-5 pt-5 pb-5 section-padding"
  id="about"
  style="background-image: url('/static/images/welcome.webp')"
>
  <div class="row">
    <h1 style="padding-left: 5%">Über mich</h1>
    <hr />
    <div class="col-md-6" style="padding: 0px 5%">
      <p>
        Mein Name ist Godwin Ifeanyi Uche. Ich befinde mich derzeit im letzten
        Jahr meines Bachelor of Science (Hons) in Cybersecurity an der Open
        University (UK). Nach dem erfolgreichen Abschluss von zwei Studienjahren
        vertiefe ich meine praktischen Fähigkeiten durch ein
        SOC-Analystentraining auf der Plattform TryHackMe.
      </p>

      <p>
        Parallel zu meinem Studium habe ich durch freiberufliche Tätigkeiten im
        Remote-IT-Support praktische Erfahrung gesammelt. Diese Arbeit hat mir
        geholfen, meine Fähigkeiten zur Problemlösung in realen Szenarien sowie
        im Umgang mit Kunden weiterzuentwickeln. Meine fachlichen Interessen
        konzentrieren sich auf SOC-Betrieb, Bedrohungserkennung, Log-Analyse und
        Incident Response.
      </p>

      <p>
        Auf meinem
        <a
          href="https://github.com/godwinsec"
          target="_blank"
          rel="noopener noreferrer"
          >github.com/godwinsec</a
        >
        dokumentiere ich regelmässig Projekte zu Themen wie Netzwerksicherheit,
        Cloud Security und Konzepten der Cybersicherheit – als Nachweis meiner
        Fähigkeit, theoretisches Wissen praxisnah umzusetzen.
      </p>

      <p>
        Ich bin motiviert, detailorientiert und entschlossen, mich sowohl durch
        formale Bildung als auch durch eigenständiges Lernen kontinuierlich als
        Cybersecurity-Fachkraft weiterzuentwickeln.
      </p>

      <p>
        Derzeit baue ich eine solide Grundlage in Bereichen wie
        Bedrohungserkennung, Schwachstellenmanagement, Cloud-Sicherheit und
        Incident Response auf – mit dem Ziel, Organisationen beim Schutz ihrer
        digitalen Infrastrukturen durch praxisnahes Wissen zu unterstützen.
      </p>

      <p>
        Ich bin immer offen für den Austausch mit Fachleuten, zum Lernen von
        anderen und für die Mitwirkung in innovativen Sicherheitsteams hier in
        der Schweiz.
      </p>
    </div>
    <div class="col-md-6" style="text-align: center">
      <img
        src="{% static 'images/godwin2.jpeg' %}"
        alt="Godwin's Photo"
        class="about-img"
        width="100%"
      />
    </div>
  </div>
</section>
{% endblock %}
